target
BolerPlateRDBMS.properties
BoilerPlateRDBMS.script
BoilerPlateRDBMS.log
BoilerPlateRDBMS.tmp

BoilerPlateRDBMS.properties
log.txt
jenkins
runLog.log
.settings
.extract
platforms
builds	
lastStable
lastSuccessful
modules	

#OS Files#

.DS_Store

#IDE specific files#

JavaProjectTemplate-SublimeText.sublime-project
JavaProjectTemplate-SublimeText.sublime-workspace
